body{
counter-reset:figure table;
}

.caption::before{
counter-increment: figure;
content: "Figure " counter(figure) ": ";
}

.caption, caption{
    margin-top: 0.1em;
    padding-top: 0.1em;
    font-weight: bold;
}

table caption::before{
counter-increment: table;
content: "Table " counter(figure) ": ";  
}

pre{
  display:none;
}
